<header class="site-header fade-in-down delay-0_5s">
    <div class="inner">
        <a href="https://tea.dedunu.info/tea" rel="home">Tea</a> <a href="https://tech.dedunu.info" rel="home">Tech</a> <a href="https://travel.dedunu.info" rel="home">Travel</a>
        {% if site.logo != null %}
        <p class="site-logo"><a href="{{ site.baseurl }}/" rel="home"><img src="{{ site.baseurl }}/images/{{ site.logo }}" width="200" alt="{{ site.title }} logo" /></a></p>
        <h1 class="site-title screen-reader-text"><a href="{{ site.baseurl }}/" rel="home">{{site.title}}</a></h1>
        {% else %}
        <h1 class="site-title"><a href="{{ site.baseurl }}/" rel="home">{{site.title}}</a></h1>
        {% endif %}
        <p class="site-description">{{site.tagline}}</p>
    </div><!-- .inner -->
</header><!-- .site-header -->
