{% for post in paginator.posts %}
<article class="post">
    {% if post.featured_image %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="post-thumbnail"><img src="{{ "/travel/images/" | append: post.featured_image | prepend: site.cdn }}" alt="{% if post.featured_image_alt %}{{ post.featured_image_alt }}{% else %}{{ post.title }}{% endif %}"></a>
    {% endif %}
    <div class="entry-box">
        <header class="entry-header">
            <h2 class="entry-title"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{ post.title }}</a></h2>
        </header><!-- .entry-header -->
        <div class="entry-content">
            {% if post.content contains '<!--more-->' %}
                {{ post.content | split:'<!--more-->' | first }}
                <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" class="more-link">Read More</a></p>
            {% else %}
                {{ post.content }}
            {% endif %}
        </div><!-- .entry-content -->
        <footer class="entry-footer">
        {% if post.tags.size > 0 %}
            <div class="post-tags">
                {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/index.html#{{ tag | cgi_escape }}" rel="tag">#{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
            </div>
            {% endif %}
        </footer><!-- .entry-footer -->
    </div><!-- .entry-box -->
</article><!-- .post -->
<nav class="post-nav">
    <h2 class="screen-reader-text">Post navigation</h2>
    {% if post.previous.url %}
    <a href="{{ site.baseurl }}{{post.previous.url}}" class="nav-previous">Previous Post</a>
    {% endif %}
    {% if post.next.url %}
    <a href="{{ site.baseurl }}{{post.next.url}}">Next Post</a>
    {% endif %}
</nav><!-- .post-nav -->
{% endfor %}
