// Typography
$base-font    : 'Playfair Display', Georgia, Times, 'Times New Roman', serif;
$alt-font     : 'Playfair Display', 'Helvetica Neue', Helvetica, sans-serif;
$heading-font : $alt-font;

// Colors
$accent-color : #000000;