<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Playfair+Display" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
  <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed"
    href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>

<body class="fixed-nav">
  <nav>
    <a href="https://tea.dedunu.info" class="">Tea</a>
    <a href="https://tech.dedunu.info" class="">Tech</a>
    <a href="https://travel.dedunu.info" class=" active">Travel</a>
  </nav>
  <div id="page" class="site">
    {% include header.html %}
    {{content}}
  </div>
</body>

</html>
